.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.drawzone {
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px black;
  align-self: center;
}

.drawzone.addcity {
  box-shadow: 1px 1px 1px 1px blue;
}
.drawzone.delcity {
  box-shadow: 1px 1px 1px 1px red;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
